.allies-card-container {
  max-width: 500px;
}
.allies-img {
  width: 100%;
}
.uneven-position .col-12:nth-child(1) .allies-card-container {
  position: absolute;
  top: 5%;
  left: 5%;
}
.uneven-position .col-12:nth-child(2) .allies-card-container {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1 !important;
}
.uneven-position .col-12:nth-child(3) .allies-card-container {
  position: absolute;
  top: 35%;
  left: 40%;
}
.uneven-position .col-12:nth-child(4) .allies-card-container {
  position: absolute;
  top: 60%;
  left: 70%;
  z-index: 3 !important;
}
