.allies-container {
  height: 200vh;
  display: grid;
  place-items: center;
  position: relative;
}

.parallax-text {
  background-image: url(assets/images/parallax-text.svg);
  background-attachment: fixed;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: fit-content;
  min-width: 90%;
  height: 200%;
  z-index: 0 !important;
  opacity: 1;
  animation: parallax linear;
  animation-timeline: scroll();
  overflow: hidden ;
}

@keyframes parallax {
 
  to {
    opacity: 0.4;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  /* CSS rules for extra small devices */
  .allies-container {
    height: fit-content;
  }
  .parallax-text{
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  /* CSS rules for small devices */
  .allies-container {
    height: fit-content;
  }
  .parallax-text{
    display: none;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for small devices */
  .allies-container {
    height: fit-content;
  }
  .parallax-text{
    display: none;
  }
  .uneven-position{
    gap: 4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* CSS rules for medium devices */
  .parallax-text{
    width: 100%;
    background-size: cover;
  }

}

/* 4K devices (large desktops, 1920px and up) */
@media only screen and (min-width: 1921px) {
  /* CSS rules for 4K devices */
  .parallax-text{
    z-index: 2 !important;
  }
}
