.btn-component {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  font-family: inherit;
  border: none;
}
.btn-component:hover{
  background-color: none;
}
.primary-comp{
  background-color: var(--green-100);
}
.secondary-comp{
  background-color: blue;
}

.default-btn,
.hover-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3em 0.7em;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 400ms ease;
}

.hover-btn {
  position: absolute;
  inset: 0;
  transform: translate(0%, 100%);
}

button:hover .default-btn {
  transform: translate(0%, -100%);
}

button:hover .hover-btn {
  transform: translate(0%, 0%);
}
