.client-brand {
  font-size: 4rem;
  font-family: podiumSharp, sans-serif;
  text-transform: uppercase;
}
.client-status {
  font-size: 1.3rem;
  color: var(--grey-300);
}
.carousel-caption {
  top: 50%;
}
.carousel-caption h5{
    font-size: 1.1rem;
}
.carousel-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 23rem;
}

.client-description{
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -1.1px;
}