.hero-animation {
  margin-top: 1rem;
  animation: rotate 5s infinite linear;
  max-width: 5rem !important;
  height: 10rem !important;
}
.hero--background-video {
  width: 100%;
  height: 95vh;
  background-color: var(--green-100);
  background-image: url("./assets/images/hero-background.gif");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
