@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: podiumSharp;
  src: url("assets/fonts/Fontspring-DEMO-podiumsharp-2.11.otf");
}
@font-face {
  font-family: nikodecs;
  src: url("assets/fonts/Nikodecs-87E2.otf");
}

#root {
  margin: 0 auto;
  text-align: center;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --off-white: #f8f7f5;
  --black: #1b1c1f;
  --grey-100: #f2f2f2;
  --grey-200: #eaeaec;
  --grey-300: #aaa;
  --grey-400: #606060;
  --blue-100: #a4abff;
  --blue-200: #6e74ff;
  --blue-300: #070a27;
  --peach-100: #ffc3b0;
  --peach-200: #fe8c6f;
  --peach-300: #6b392a;
  --yellow-100: #ffebb8;
  --yellow-200: #ffd872;
  --green-100: #94e8d0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: podiumSharp, sans-serif; */
  /* font-family: nikodecs, sans-serif; */
}

html {
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--peach-100);
}

h1 {
  font-size: 19.2rem;
  letter-spacing: 8px;
  line-height: 0.93;
  font-family: podiumSharp, sans-serif;
}
.padding-container {
  padding: 0 3rem !important;
}
.common-container {
  min-height: 100vh;
  width: 100%;
}
.main-bg {
  background-color: var(--off-white);
  color: var(--black);
  overflow: hidden;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  /* CSS rules for extra small devices */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  /* CSS rules for small devices */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* CSS rules for small devices */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* CSS rules for medium devices */
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  /* CSS rules for large devices */
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* CSS rules for extra large devices */
}

/* 4K devices (large desktops, 1920px and up) */
@media only screen and (min-width: 1921px) {
  /* CSS rules for 4K devices */
}