@tailwind base;
@tailwind components;
.componentsAfter {
  text-align: center;
}
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0rem auto;
}
.btn {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700;
}
.btn2 {
  background-color: red;
}

@layer utilities {
  .text-wired {
    @apply py-2 font-bold bg-slate-400;
  }
}
