/* .main-container {
  display: grid;
  justify-content: center;
  align-content: center;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}
body {
  font-size: 62.5%;
}
.main-container {
  max-width: 27rem;
  margin: 15rem auto;
}
.results-container {
  border-radius: 1.5em;
  display: flex;
  text-align: center;
  -webkit-box-shadow: 33px 38px 67px -36px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 33px 38px 67px -36px rgba(0, 0, 0, 0.6);
  box-shadow: 33px 38px 67px -36px rgba(0, 0, 0, 0.6);
}
.primary-card {
  max-width: 50%;
  background-image: linear-gradient(
    0deg,
    hsl(240deg 93% 46%) 0%,
    hsl(256deg 93% 42%) 50%,
    hsl(266deg 94% 38%) 100%
  );
  color: white;
  padding: 2.5em;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.9em;
  align-items: center;
}
.primary-card-title,
.primary-card-total,
.primary-card-description {
  color: #ffffff9c;
}
.primary-card-title {
  font-size: 1rem;
  font-weight: 500;
}
.primary-card-score {
  font-size: 2.5rem;
}
.primary-card-total {
  font-size: 0.6rem;
}
.primary-card-description {
  font-size: 0.75rem;
}
.primary-card-message {
  font-size: 1.4rem;
  font-weight: 500;
}
.primary-card-score-container {
  padding: 3em;
  border-radius: 50%;
  background: rgb(9, 9, 121);
  background: linear-gradient(
    0deg,
    rgba(9, 9, 121, 0) 0%,
    rgba(84, 6, 186, 1) 75%
  );
}

.secondary-card {
  padding: 2.5em;
  color: #000 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.secondary-card-title {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

.btn {
  color: white;
  font-weight: 600;
  background-color: rgb(55, 55, 55);
  border: none;
  padding: 0.7em 0;
  border-radius: 2em;
}
.analysis-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.analysis-img {
  width: 1.5em;
}
.analysis-left-container {
  display: flex;
  gap: 0.5em;
}
.analysis-right-container{
  display: flex;
}
.analysis-total{
  color: rgba(128, 128, 128, 0.696);
}
.analysis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
}
.analysis-title, .analysis-score, .analysis-total{
  font-size: 0.7rem;
  font-weight: 600;
}
.reaction {
  color: rgba(255, 0, 0, 0.702);
}
.memory {
  color: rgba(255, 162, 0, 0.8);
}
.verbal {
  color: rgba(0, 255, 89, 0.806);
}
.visual {
  color: rgba(0, 0, 255, 0.702);
}
.analysis-reaction {
  background-color: rgba(255, 0, 0, 0.118);
}
.analysis-memory {
  background-color: rgba(255, 251, 0, 0.118);
}
.analysis-verbal {
  background-color: rgba(0, 255, 0, 0.118);
}
.analysis-visual {
  background-color: rgba(0, 0, 255, 0.118);
}
/* Extra small devices (phones) */
@media only screen and (max-width: 575px) {
  .main-container {
    max-width: 18rem;
    margin: 0 auto;
    min-height: 95vh;
  }
  .results-container {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 33px 38px 67px -36px rgba(0, 0, 0, 0);
    -moz-box-shadow: 33px 38px 67px -36px rgba(0, 0, 0, 0);
    box-shadow: 33px 38px 67px -36px rgba(0, 0, 0, 0);
  }
  .primary-card{
    max-width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* order: 2; */
  }
  .secondary-card{
    max-width: 100%;
    gap: 2.5em;
    /* order: 1; */
  }
}