*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  background-color: black;
  color: white;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-container {
  display: flex;
  margin: 10em auto;
  gap: 2em;
  max-width: 80%;
  background-color: rgb(24, 4, 49);
  border-radius: 1rem;
  overflow: hidden;
}
.left-container {
  max-width: 50%;
  padding: 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.card-title {
  font-size: 3.3rem;
  line-height: 1.3;
}
.card-title > span {
  color: rgb(142, 2, 218);
}
.card-description {
  font-size: 1.5rem;
  color: grey;
  line-height: 1.6;
}
.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
}
.stats-sub-container {
  display: flex;
  flex-direction: column;
}
.stats-number {
  font-size: 2.2rem;
}

.right-container {
  max-width: 50%;
  background: url("./images/image-header-desktop.jpg");
  background-size: cover;
  background-color: rgb(142, 2, 218);
  background-blend-mode: multiply;
  border-radius: 0 1rem 1rem 0;
  flex: 1;
}

@media  (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    min-height: 45rem;
    max-width: 60%;
    text-align: center;
  }
  .right-container {
    order: 1;
    border-radius: 1rem 1rem 0 0;
    max-width: 100%;
    min-height: 20rem;
  }
  .left-container {
    padding: 2rem;
    order: 2;
    max-width: 100%;
  }
  .card-title {
    font-size: 2rem;
    line-height: 1.3;
  }
  .card-description {
    font-size: 1.2rem;
  }
  .stats-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: none;
  }
}
@media (min-width: 769px) and (max-width: 926px) {
  .card-title {
    font-size: 1.4rem;
    line-height: 1.3;
  }
  .card-description {
    font-size: 0.8rem;
  }
  .stats-number {
    font-size: 1.1rem;
  }
  .stats-container {
    gap: 1rem;
  }
  .extra-description {
    font-size: 0.7rem;
  }
}

@media (min-width: 927px) and (max-width: 1578px) {
  .card-title {
    font-size: 2rem;
    line-height: 1.3;
  }
  .card-description {
    font-size: 1rem;
  }
  .stats-number {
    font-size: 1.3rem;
  }
  .stats-container {
    gap: 1rem;
  }
  .extra-description {
    font-size: 0.8rem;
  }
}
