.about-us-card-container {
  max-width: 65%;
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  align-items: center;
  border-radius: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.about-us-icon {
  max-width: 4rem;
}

.about-us-blue {
  color: var(--color-1);
  font-size: 1.8rem;
  line-height: 0.8;
}
.about-us-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* CSS rules for extra small devices */
  .about-us-blue {
    font-size: 1.2rem;
  }
  .about-us-card-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0.8rem 1.2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* CSS rules for small devices */
  .about-us-blue {
    font-size: 1.2rem;
  }
  .about-us-card-container {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for medium devices */
  .about-us-card-container {
    margin: 0 auto;
    max-width: 80%;
  }
  .about-us-blue {
    font-size: 1.7rem;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* CSS rules for large devices */
  .about-us-card-container {
    gap: 1rem;
    padding: 1rem 1rem;
    max-width: 90%;
  }
  .about-us-blue {
    font-size: 1.4rem;
  }
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  /* CSS rules for extra large devices */
  .about-us-card-container {
    gap: 1.7rem;
    padding: 1rem 1.8rem;
  }
  .about-us-blue {
    font-size: 1.5rem;
  }
}
