.hero-left-container{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.hero-headline{
    font-size: 5.73rem;
    line-height: 1.1;
    font-weight: 600;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-left-container{
        max-width: 100%;
        gap: 1rem;
    }
    .hero-headline{
        font-size: 3rem;
        line-height: 1;
    }
    /* CSS rules for extra small devices */
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    /* CSS rules for small devices */
    .hero-left-container{
        max-width: 100%;
        gap: 1rem;
    }
    .hero-headline{
        font-size: 4rem;
        line-height: 1;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    /* CSS rules for medium devices */
    .hero-left-container{
        max-width: 100%;
        gap: 1rem;
    }
  }
  
  /* Large devices (laptops/desktops, 1024px and up) */
  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    /* CSS rules for large devices */
    .hero-left-container{
        gap: 1rem;

    }
    .hero-headline{
        font-size: 3.4rem;
        line-height: 1;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1440px and up) */
  @media only screen and (min-width: 1441px) and (max-width: 1920px) {
    /* CSS rules for extra large devices */
    .hero-left-container{
        gap: 2rem;
    }
    .hero-headline{
        font-size: 4.6rem;
        line-height: 1;
        font-weight: 600;
    }
  }
 