.logo-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.rezilla-logo{
    background-color: var(--primary-color);
    padding: 0.8rem;
    border-radius: 50%;
}
.logo-name{
    font-size: 1.4rem;
    font-weight: 600;
}