.form-container{
    max-width: 42rem;
    border-radius: 3rem;
    background-color: #fff;   
    padding: 2rem;
    
}
input{
    padding: 1.3em 1em;
     border-radius: 1rem;
     border: none;
     font-size: 1.1rem;
     background-color: var(--text-5);
}

.inputs-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 34rem;
    
}
.form-btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-btn{
    background-color: transparent;
    border: none;
    padding: 1em 2em;
    font-size: 1.6rem;
    border-bottom: 3px solid transparent;
    color: var(--text-3);
}
.form-btn:active, .form-btn:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}