.secondary-headline{
    font-size: 3.98rem;
    line-height: 1;
    font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* CSS rules for extra small devices */
  .secondary-headline{
    font-size: 2.5rem;
    line-height: 1.1;
}
}

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    /* CSS rules for small devices */

    .secondary-headline{
        font-size: 2.5rem;
        line-height: 1;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for medium devices */
  .secondary-headline{
    font-size: 3rem;
    line-height: 1;
}
}

  
  /* Large devices (laptops/desktops, 1024px and up) */
  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
    /* CSS rules for large devices */

    .secondary-headline{
        font-size: 3rem;
        line-height: 1;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1440px and up) */
  @media only screen and (min-width: 1441px) and (max-width: 1920px) {
    /* CSS rules for extra large devices */

    .secondary-headline{
        font-size: 3.4rem;
        line-height: 1.1;
    }
  }
 