@tailwind base;
@tailwind components;
.free-btn {
  @apply py-2 bg-dark-blue-200 text-white rounded-md text-sm font-semibold;
}
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.special-font {
  font-family: "Cabinet Grotesk", sans-serif;
}

.brush-font {
  font-family: "Striper", sans-serif;
}

.hamburger-line {
  @apply w-7 h-[1px] bg-black transition-all duration-300 ease-in-out;
}

/* infinite logo slider */
.scroller {
  max-width: 100%;
}
.scroller--inner {
  padding-block: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
}
.scroller[data-animated="true"] .scroller--inner {
  flex-wrap: nowrap;
  animation: logo-scroll 200s linear infinite;
  width: max-content;
}
.logo-slider--item {
  flex: 0 0 auto;
  margin-right: 3rem;
}

@keyframes logo-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

/* shape divider css */

.custom-shape-divider-bottom-1717859898 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717859898 svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 74px;
}

.custom-shape-divider-bottom-1717859898 .shape-fill {
  fill: #ffffff;
}

/* video background css */

.video-bg {
  background-image: url("/assets/women-working.jpg");
  height: 50rem;
  }

