.nav-btn{
    color: #fff;
    background: none;
    border: 1.5px solid #fff;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    border-radius: 12.5% 12.5% 12.5% 12.5% / 50% 50% 50% 50%;
}
.btn-text{
    margin-left: 1rem;
    font-weight: 600;
}
.btn-icon{
    background-color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
}