@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
*, body{
color: #fff;
}


.main-container{
  width: 40rem;
  min-height: 40rem;
  border-radius: 0.7rem;
  background: rgb(9,9,121);
  text-align: center;
  background: linear-gradient(18deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 54%); 
  text-align: left;
}
.hundred-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 .days p{
  margin-top: -23.5rem;
  
}
.challenge p{
  margin-top: -14.5rem;

}
.hundred p::after{
  content: '';
  display: inline-block;
  position: relative;
  transform-origin: left;
  transform: translate(-313px, -96px) rotate(34deg) ;
  width: 43px;
  height: 80px;
  background: #fff;
  /* box-shadow: 2px 2px 2px rgb(0, 0, 0); */

}
.hundred p{
  letter-spacing: -40px;
  font-size:15rem;
	font-weight:bolder;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  z-index: -1 !important;
}
.days p{
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: -15px;
  font-family: "Kode Mono", monospace;
  line-height: 15rem;
}
.challenge p{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2.5px;
  font-family: "Kode Mono", monospace;
}