:root {
  --primary-color: rgb(146, 56, 56);
  --secondary-color:black;
}
@font-face {
  font-family: primary-font;
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf");
}
@font-face {
  font-family: seconday-font;
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: primary-font;
  font-size: 62.5%;
  background-color: peachpuff;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
}

.recipe-container {
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 700px;
}
.recipe-img {
  border-radius: 0.5rem;
  width: 100%;
}

.preparation-container {
  background-color: rgb(250, 210, 216);
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 0.5rem;
  line-height: 2;
}
.preparation-time {
  color: rgb(162, 15, 158);
  font-size: 1.2rem;
}
.preparation-list {
  margin-left: 2.2rem;
}
.preparation-name {
  font-size: 0.8rem;
}
.nutrition-table {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
}
.nutrient-value {
}
